.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2A2637;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/me.png);
}

.main {
  position: absolute;
  top: 5%;
  left: 22%;
}

.title a {
  color: #0070f3;
  font-size: 2rem;
  float: right;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

@media (max-width: 600px) {
  .main {
    position: absolute;
    left: 5%;
  }
  .title a {
    color: #0070f3;
    font-size: 1.5rem;
    float: right;
    text-decoration: none;
  }
}
